body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#product_Overview_Nav {
  margin-top: 112px;
  background-color: aliceblue;
  font-size: 13px;
}

#product_Overview_Nav a {
  text-decoration: none;
  color: black;
}

#product_Overview_Nav>ul {
  list-style: none;
  display: flex;
  margin: 10px 15px;
}

#product_Overview_Nav>ul li {
  padding: 4px;
}

#product_Overview_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0 25px;
}

.All_Images_of_Selected_Product {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
}

.AllImagesSlider {
  overflow: hidden;
  overflow-y: scroll;
  height: 375px;
  margin: auto;
  cursor: all-scroll;
}

.AllImagesSlider::-webkit-scrollbar {
  width: 10px;
}

.AllImagesSlider img {
  width: 90%;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(111 114 132 / 30%);
  border-radius: 5px;
}

.NameDesc_of_Selected_Product {
  background-color: white;
  padding: 20px;
}

.NameDesc_of_Selected_Product p {
  padding: 2px 0;
}

.all_prices_div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.final_price_PO {
  font-size: 20px;
  font-weight: bolder;
}

.price_PO {
  font-size: 17px;
  font-weight: 500;
}

.price_POO {
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.Product_Names_Desc * {
  margin: 4px;
}

.all_prices_div * {
  margin: 0;
}

.all_prices_div {
  margin-top: 20px;
}

.all_prices_div i {
  font-size: 27px;
  color: #7f7f7f;
  cursor: pointer;
}

.Product_fullName {
  font-size: 22px;
  font-weight: bolder;
}

.save_price {
  font-size: 17px;
  padding: 2px 0;
}

.showGreenText {
  color: #00a651;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 0;
}

.showBlueText {
  color: #008ecc;
  font-weight: 600;
  font-size: 17px;
}

.Add_To_Cart_Btn {
  background-color: #008ecc;
  width: 180px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  align-items: center;
  margin: 10px 0;
}

.txt_btnn {
  color: white;
}

.add_plus {
  color: #9ad8f3;
  background-color: #17aded;
  padding: 2px 4px;
  border-radius: 50px;
}

.enter_pincode_divv {
  display: flex;
  width: 50%;
  padding: 5px 10px;
  border: none;
  font-size: 17px;
  outline: none;
  margin-top: 15px;
}

.enter_pincode_divv>input {
  width: 80%;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid #7f7f7f;
  font-size: 17px;
  outline: none;
}

.enter_pincode_divv>button {
  background-color: white;
  border: none;
  border-bottom: 2px solid #7f7f7f;
  font-size: 17px;
  color: rgb(178, 28, 5);
  font-weight: bold;
}

.enter_pincode_divv>i {
  font-size: 22px;
  margin-top: 4px;
  margin-right: 4px;
  color: #7f7f7f;
}

/* .enter_pincode_div button{
      margin: 0;
  } */
.location_btn {
  color: grey;
}

.Available_Offers_Parent_div>div {
  display: flex;
  gap: 20px;
}

.Available_Offers_Parent_div>h3 {
  margin: 10px 0;
}
.Available_Offers_Parent_div>h3:first-child>span{
  padding: 4px 9px;
  background-color: #7f7f7f56;
  border-radius: 50%;
  font-size: 14px;
}
.Available_Offer_div {
  height: auto;
  padding: 5px 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 8px;
}

.Available_Offers_1 {
  display: inline;
  font-weight: bold;
  font-size: 10px;
  color: #05b905;
  border: 1px solid #40eb40;
  padding: 5px !important;
  border-radius: 40px;
}

.Available_Offers_2 {
  font-size: 13px;
  font-weight: 620;
  padding: 8px 0 !important;
}

.Available_Offers_3 {
  font-size: 15px;
  font-weight: 420;
  color: grey;
  cursor: pointer;
}

.SeeMorePo {
  color: rgb(196, 5, 5);
  font-size: 17px;
  text-align: right;
}

.SelectedFromImagesSlider>img {
  width: 100%;
}

#Item_Description {
  padding: 0 30px;
}

#first_desc {
  border-top: 1px solid #7f7f7f;
  padding-top: 5px;
  padding-left: 30px;
  margin: 10px 0;
}

#second_desc {
  border-top: 1px solid #7f7f7f;
  padding-top: 5px;
  padding-left: 30px;
  margin: 10px 0;
}

#Item_Description p,
#Item_Description h3 {
  padding: 5px 0;
}